@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

:root {
  --background: oklch(1 0 0); /* White */
  --foreground: oklch(0.145 0 0); /* Zinc 950 */
  --muted: oklch(0.97 0 0); /* Zinc 50 */
  --muted-foreground: oklch(0.556 0 0); /* Zinc 500 */
  --border: oklch(0.92 0 0); /* Zinc 200 */
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
